.list-page-flex {
    display: flex;
    flex-direction: row;
}

.list-space {
    flex: 3;
    margin-right: 30px;
}

.summary-space {
    flex: 1;
    position: relative;
}

@media only screen and (max-width: 900px) {
    .list-page-flex {
        flex-direction: column;
    }

    .list-space {
        flex: 1;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .summary-space {
        flex: 1;
    }
  }