.line-item-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.25rem 0;
    background-color: white;
    padding: 0 0.9375rem 0.9375rem 0.9375rem;
}

.line-item-list-header {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0 0px;
    background-color: white;
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
}

.line-item-list-cta {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
    .line-item-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
  }