.line-item-list {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px;
    background-color: white;
    padding: 15px;
}

.line-item-list-cta {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}