<div class="header-space">
  <div class="logo-space">
    <span class="logo-space-title">Logo Goes Here</span>
  </div>
  <div class="personalization-space">
    <div><span>Welcome user!</span></div>
    <div><a href="#">Logout</a> | <a href="#">My Profile</a></div>
    <div class="company-line">
      <span class="mat-body-strong">Sample Solutions Inc</span>&nbsp;&nbsp;<a
        href="#"
        >Change</a
      >
    </div>
  </div>
</div>
<div><app-menu-placeholder></app-menu-placeholder></div>
<div class="route-container-space">
  <app-list-page-layout></app-list-page-layout>
</div>
