.header-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personalization-space {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.company-line {
    margin-top: 0.625rem;
}

.logo-space-title {
    font-size: 2.25rem;
}

.route-container-space {
    padding: 0.9375rem;
    background-color: #f2f5fc;
}