.flex-menu {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}

.menu-item {
    border-right: white 1px solid;
    margin-left: 0.625rem;
    padding-left: 0.3125rem;
    margin-right: 0.2135rem;
    padding-right: 0.9375rem;
}

.menu-item:last-child {
    border-right: none;
}