<div [ngClass]="{ 'line-item': true, 'last-item': last == true }">
  <div class="line-item-summary">
    <div class="attribute-1">{{ item.id }}</div>
    <div class="attribute-2">{{ item.client }}</div>
    <div class="attribute-3">{{ item.status }}</div>
    <div class="attribute-4">
      {{ item.date.getMonth() + 1 }}/{{ item.date.getDate() }}/{{
        item.date.getFullYear()
      }}
    </div>
    <div class="attribute-5">${{ item.amount }}</div>
    <div class="attribute-6">
      <span *ngIf="item.details.length > 0" class="expander-control" (click)="switchExpanded()">{{ expanded?"-":"+" }}</span>
    </div>
  </div>
  <mat-expansion-panel *ngIf="item.details.length > 0" hideToggle="true" expanded="{{expanded}}" style="box-shadow: none;">
    <div class="line-item-details">
      <div *ngFor="let detail of item.details; index as i">
        {{ detail }}
      </div>
    </div>
  </mat-expansion-panel>
</div>
