<div class="order-summary">
    <h2 class="mat-h2">Order Summary</h2>
    <div class="subtotal">
        <div>Subtotal</div><div>$27.00</div>
    </div>
    <div class="order-summary-field"><mat-form-field>
        <mat-label>Shipping Cost (USD)</mat-label>
        <input matInput type="text">
    </mat-form-field>></div>
    <div class="order-summary-field"><mat-form-field>
        <mat-label>Sales Tax (USD)</mat-label>
        <input matInput type="text">
    </mat-form-field>></div>
    <div class="order-summary-field"><mat-form-field>
        <mat-label>Additional Tax (USD)</mat-label>
        <input matInput type="text">
    </mat-form-field>></div>
    <div class="order-summary-field"><mat-form-field>
        <mat-label>Discount (USD)</mat-label>
        <input matInput type="text">
    </mat-form-field>></div>
    <div class="order-summary-field"><mat-form-field>
        <mat-label>Other Adjustments (USD)</mat-label>
        <input matInput type="text">
    </mat-form-field>></div>
    <div class="order-total">
        <div>Total</div><div>$49.00</div>
    </div>
</div>>